[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
requests = "*"
drf-yasg = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
djangorestframework-simplejwt = "*"
djangorestframework-api-key = "*"
django-filter = "*"
djangorestframework-xml = "*"

[dev-packages]

[requires]
python_version = "3.10"
